body {
  font-family: 'Courier New', Courier, monospace; 
  padding: 10px;
  margin-bottom: 10px;
}
title {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #f5efa2;
  color: #f389bb;
  font-size: 200%; 
}
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ffffff;
  background-color: #1b4733;
}
  