/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #fb59bd;
    background-color: #861c2e;
  }
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #bd2d75;
    background-color: #cf5fb3;
  }
  #Backround {
    margin: 10px;
    padding: 10px;
    border: solid 1px #ea00ff;
    background-color: #fc00b0;
  }
